ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/beb9aeefc6fd0b23/CONSOLEAPPLICATION1.ipch
ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/b6b011b1-0ba9-4df5-8bb7-92332d432420.vsidx
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
