ConsoleApplication1/.vs/ConsoleApplication1/v17/ipch/AutoPCH/beb9aeefc6fd0b23/CONSOLEAPPLICATION1.ipch
ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/b6b011b1-0ba9-4df5-8bb7-92332d432420.vsidx
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
Project1/.vs/Project1/v17/ipch/AutoPCH/3b863f672be701f5/PROJECT1.ipch
Project1/.vs/Project1/v17/ipch/AutoPCH/963728dd35e3f02e/TARGETVER.ipch
Project1/.vs/Project1/v17/ipch/AutoPCH/e88a04c4cf4a17ac/FRAMEWORK.ipch
Project1/.vs/Project1/v17/ipch/AutoPCH/e9dd8afbb534a1fc/PROJECT1.ipch
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/FileContentIndex/a89a3408-ec25-45f5-b2ee-9e3745bf1208.vsidx
Project1/.vs/Project1/v17/Browse.VC.opendb
CNETWORK/.vs/CNETWORK/FileContentIndex/75bf99fa-3224-4df9-8437-7e75191e03d3.vsidx
CNETWORK/.vs/CNETWORK/v17/ipch/AutoPCH/b16827e11393ce93/CNETWORK.ipch
CNETWORK/.vs/CNETWORK/v17/Browse.VC.opendb
CCLIENT/.vs/CCLIENT/v17/ipch/AutoPCH/897074c5644b8107/CCLIENT.ipch
CCLIENT/.vs/CCLIENT/v17/Browse.VC.db
CCLIENT/.vs/CCLIENT/FileContentIndex/359baeac-3dc6-4fed-9bcb-1108cf8422aa.vsidx
CCLIENT/.vs/CCLIENT/v17/Browse.VC.opendb
CNETWORK/.vs/CNETWORK/FileContentIndex/efe9e3bf-15b0-4eb8-8c09-8836f1fb73dc.vsidx
*.vsidx
CCLIENT/.vs/
CNETWORK/.vs/
CCLIENT/CCLIENT/x64/Debug/
.exe